html{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(73, 73, 73);
}
body{
    height: 540px;
    width: 330px;
}
header{
    width: 100%;
    color:whitesmoke
}
nav{
    display:flex;
    justify-content: space-between;
    background-color: #3f0c0c;
}
button{
    cursor: pointer;
}
.screen{
    background-color: #707070;
    display: flex;
    justify-content: right;
    align-items: flex-end;
    font-size: 55px;
    overflow-y: hidden;
}
.left{
    font-size:  28px;
    margin: 2px;
}
.textoSuperiorPantalla{
    word-break:keep-all;
    height: 50px;
    padding: 10px;
    font-size: 40px;
}
.textoInferiorPantalla{
    padding: 10px 15px 15px 15px;
    height: 50px;
}
main{
    width: 100%;
    height: 330px;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
.item{
    background-color: #3f0c0c;
    color: white;
    cursor: pointer;
    box-shadow: 0px 0px 3px rgb(0, 0, 0);
    display: grid;
    place-items: center;
    font-size: 30px;
}
.item:hover{
    box-shadow: 0px 0px 15px rgb(0, 0, 0);
    background-color: #2d0909;

}
.set{
    background-color: #950000;
}


